/*Body*/

body {

    background-color: #B2B2B2; /*Changed from dark-green for better view*/
    color: #643E2D; 
    line-height: 1.6;
}




/*Header styles*/

h1{

    color:#3C5F3F;
    text-align: center;
    padding: 20px;
    font-family: 'Amatic SC';
}

h2{

    background-color: #C6C4C2;
    color:#643E2D;
    align-items: center;
    padding: 20px;
    font-family: 'Amatic SC';
    border-radius: 50%;
    justify-content: center;
}

/*Navigation Styles*/

nav{
    background-color: #756E65;
    padding: 3px;
    text-align: center;

}

nav ul {
    padding: 0%;
    margin: 2%;
   display: flex;
   justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #B2B2B2;
    text-decoration: none;  
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: large
 }


/*Quote*/

#about blockquote {
    font-family: "Playwrite IS", cursive;
    color: #643E2D;
    padding: 20px;
    margin: 20px 0; 
    font-size: small;
    text-align: center;
}

#about h2 {
    font-family: 'Playwrite NG Modern', cursive;
    font-size: 20px;
    color: #3C5F3F;
    margin-top: 10px;
    text-align: center;
   
}


#about p {
    color: #643E2D;
    font-family: 'Playwrite NG Modern', cursive;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
}

/*List*/

#about ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

#about li {
    font-family: 'Playwrite NG Modern', cursive;
    font-size: 12px;
    color:#643E2D;
    margin-bottom:10x;
}

/*Products*/

#products {
    text-align: center;
    padding: 20px;

}

#products h2 {

margin-bottom: 10px;
font-size: 30px;
color:#13532b;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}

#products img {

border-radius: 100px;
border: 5px solid #3C5F3F;
width: 300px;
height: 200px;
}


/*The Tables of Blends*/

caption {
    font-size: 15px;
    padding: 20px;
    text-align: center; 
    font-family: 'Playwrite NG Modern';
}

table {
    
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
    padding: 10px;
}


tr:nth-child(even) {
    background-color:#C6C4C2
}

th {
    background-color: #3C5F3F;
    color: #C6C4C2 
    }

/*Articles Section*/

#articles {

    text-align: center;
    margin-top: 40px;
}

#articles h2{
margin-bottom: 20px;

}

#articles p {

margin-bottom: 20px;
}

#articles ol {
    list-style-type: none;
    padding: 0;
}

#articles ol li {
    margin-bottom: 10px; 
    font-size: 1.1em; 
    font-family: 'Playwrite NG Modern';
    font-size: smaller;
}

#articles ol li a{
    color: #13532b;
    text-decoration: none;  
    display: block;
    font-family: 'Playwrite NG Modern', cursive;
    font-size: large
}

#video {
    margin-top: 50%;

}

#video h3{
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #37743c;
}