/*Body*/

body {

    background-color: #B2B2B2; 
    color: #643E2D; 
    line-height: 1.6;
    height: 100%;
}

p {
    max-width: 800px;
    margin:0 auto;
    padding: 10px;
    line-height: 1.6;

}

/*Hero Banner*/

#hero-logo {

    display: block;
    margin: 10px auto;
    height: 100px; 
    width: auto;
    z-index: 10;
}

#hero {

    background-image: linear-gradient(rgba(62, 48, 10, 0.6), rgba(40, 33, 2, 0.6)), url('assets/5.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:relative;
    overflow:hidden;

}

#hero h1 {

    font-size: xx-large;
    margin: 50px;
    padding: 50px;
    font-family: 'Playwrite NG Modern', cursive;
    color: #C6C4C2;
    
}

#hero h2 {
     
    font-size: larger;
    background: none;
    color:#B2B2B2;
    font-size: x-large;
    text-transform:uppercase;

}

#hero-button {

    display: inline-block;
    padding: 10px 20px;
    color:#B2B2B2;
    background-color: #756E65;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Playwrite NG Modern';
}

#hero-button:hover {
    background-color: #643E2D;
}


/*Header styles*/

h1{

    color:#3C5F3F;
    text-align: center;
    padding: 10px;
    font-family: 'Amatic SC';
    font-size: xx-large;
}

h2{

    background-color: #C6C4C2;
    color:#643E2D;
    padding: 5px 20px;
    font-family: 'Amatic SC';
    font-weight: bold;
    border-radius: 10px;
    max-width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}



/*Navigation Styles*/

nav{
    background-color: #756E65;
    padding: 3px;
    text-align: center;
     list-style: none;

}

nav ul {
    padding: 0%;
    margin: 2%;
   display: flex;
   justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #B2B2B2;
    text-decoration: none;  
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: x-large;
 }


/*Quote*/

#about blockquote p {
    
    font-family: 'Playpen Sans';
    color: #643E2D;
    padding: 20px;
    margin: 20px auto;
    font-size: larger;
    align-items: center;
    text-align: center;
    

}

#about blockquote footer {
    text-align: center;
    font-family: "Playwrite IS", cursive;
    color: #643E2D;
    margin: 20px 0; 
    font-size: small;
    
}



#about h2 {
    font-family: 'Playwrite NG Modern', cursive;
    font-size: 20px;
    color: #3C5F3F;
    margin-top: 10px;
    text-align: center;
   
}


#about p {
    color: #643E2D;
    font-family: 'Playpen Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
}

/*List*/

#about ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

#about li {
    font-family: 'Playpen Sans';
    font-size: 12px;
    color:#643E2D;
    margin-bottom:10x;
}

/*Products*/

#products {
    text-align: center;
    padding: 20px;

}

#products h2 {

margin-bottom: 10px;
font-size: 20px;
font-family: 'Playwrite NG Modern', cursive;
color:#13532b;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}

#products h3 {

    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Playwrite NG Modern', cursive;
    color:#13532b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    }

    
#products p {
    color: #643E2D;
    font-family: 'Playpen Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
}

#products img {

border-radius: 100px;
border: 5px solid #3C5F3F;
width: 300px;
height: 200px;
}


/*The Tables of Blends*/

caption {
    font-size: 15px;
    padding: 20px;
    text-align: center; 
    font-family: 'Playpen Sans';
    font-size: medium;
}

table {
    
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
    font-family: 'Playpen Sans';
    font-size: smaller;
    padding: 10px;
}


tr:nth-child(even) {
    background-color:#C6C4C2
}

th {
    background-color: #3C5F3F;
    color: #C6C4C2 
    }

/*Articles Section*/

#articles {

    text-align: center;
    margin-top: 40px;
}

#articles h2{
margin-bottom: 20px;

}

#articles p {

margin-bottom: 20px;
}

#articles ol {
    list-style-type: none;
    padding: 0;
}

#articles ol li {
    margin-bottom: 10px; 
    font-size: 1.1em; 
    font-family: 'Playpen Sans';
    font-size: smaller;
}

#articles ol li a{
    color: #13532b;
    text-decoration: none;  
    display: block;
    font-family: 'Playwrite NG Modern', cursive;
    font-size: large
}

/*Video*/

#video {

    margin: 40px auto;
    max-width: 100%;
    text-align: center;
}


#video h3{

    margin-bottom: 10px;
    font-size: 1.2em;
    color:#13532b;
    font-family:  'Playwrite NG Modern'
}

#video p{

    margin-bottom: 20px;
    font-size: 12px;
    color:#643E2D;
    text-align: center;
}



#video iframe {
    
    border-radius: 10px;
    border: 5px solid #3C5F3F;
    width: 400px;
    height: 300px;
    max-width: 100%;
}

/*Contact Us*/

#contact {
    background-color:#756E65;
    padding: 20px;
    max-width: 400;
    border-radius: 10px;
    border: 5px solid #3C5F3F;
    text-align: center;
}

#contact p{

        color:#B2B2B2;
        font-family: 'Playpen Sans';
        font-size: 12px;
        line-height: 1.6;
        text-align: center;
    
}

#contact form {

    display:flexbox;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#contact label {

    font-family: 'Playwrite NG Modern', cursive;
    color:#B2B2B2;
    margin-bottom: 5px;
}

#contact input, #contact textarea {
    width: 60%;
    max-width: 400px;
    padding: 5px;
    border: 1px solid #3C5F3F;
    border-radius: 5px;
    font-family: 'Playwrite NG Modern', cursive;
    font-size: 12px;
    color: #643E2D;
}

#contact button {
    background-color:#B2B2B2;
    color:#13532b;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Playwrite NG Modern';
    font-size: 14px;
    cursor:pointer;
    
}

/*Footer*/

footer {

    background-color:#C6C4C2;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    text-align: right;
    position: relative;
    bottom: 0%;
    position: relative;
    background: none;
}


/*Phone adjustment*/

@media (max-width: 768px) {

 /*Hero banner*/

    #hero h1 {
        font-size: 2em;
    }
    #hero h2 {
        font-size: 1.5em;
}
   #hero-button {
    
    padding: 8px 16px;
    font-size: 0.9em;
   }

   #hero-logo {
    height: 40px;
    top: 5px;
    left: 5px;
   }

   /*Paragraphs*/

   p {
    font-size: 1em;
   }

   #about blockquote h2, #about blockquote p {
    font-size: 1em;
   }

   /*Footer*/

   footer {
    font-size: 0.8em;
    padding: 10px;
    
   }
}